body {
  background: #8ecae6;
  display: flex;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.panel {
   
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px 10px;
 background: white;
 flex-wrap: wrap;
 align-items:center;
justify-content:space-evenly;
box-shadow: 0px 0px 10px black;
 
}
.sec1 , .sec2 , .sec3{
    padding: 20px;
    max-width: 30%;
   
}
.sec2{
    border-left: 1px solid rgb(225, 213, 213);
    border-right: 1px solid rgb(225, 213, 213);
}
img{
    height: 20vh;
    width: 20vh;
    margin: 20px 0px;
}
 
ul{
    list-style: none;
    display: block;
    
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;

    margin: 50px 0px;
}
li{
    margin: 20px 0px;
   
    border-top: 2px solid rgb(48, 113, 147);
    font-size: 17px;
    color:#023047;
    letter-spacing: 1px;
    line-height: 40px;

}
h3{font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(93, 93, 93);
}
h4{
    font-size: 40px;
    font-weight: 900;
    
    color:#023047;
}
button{text-transform: uppercase;
    font-size: 15px;
    color:#023047;
    font-weight: 600;
    letter-spacing: px;
    line-height: 40px;
    padding: 0px 20px;
    border-radius: 10px;
    border: 2px solid black;
    background: #ffffff;
    transition: background .5s ease-in-out 0s;
}

button:hover{
    background: #8ECAE6;
    color : white;
}





@media  ( max-width: 950px) {
    body{
        height: 100%;
    }
    .panel{
        flex-direction: column;
    }
    .sec1 , .sec2 , .sec3{
        padding: 5px;
        max-width: 100%;
        max-width: 400px;
        width: 100%;
       
    }

    .sec2{
        border-top: 1px solid rgb(225, 213, 213);
        border-bottom: 1px solid rgb(225, 213, 213);
        border-right: none;
        border-left: none;
    }
}

